# Package Versions
GO_VERSION=1.22

# Group IDs and Permissions
GID_FILES=1000
GID_PERM_FILES=774

# Mounted volume paths
SV_PATH_FILES=/var/shared/files

# Ports
BACKEND_HOST=3000
COMPILER_HOST=3001

# URLS
COMPILER_URL=http://compiler-ms:3001
