<div class="flex flex-row mx-4 items-stretch justify-center gap-0 ">
  <div 
  class="flex flex-row items-center gap-2 cursor-pointer flex-1 hover:bg-[#54667a]" 
    [ngClass]="{
    'bg-[#54667a]': fileSelectionService.selectedFile()?.fileName === file().fileName
  }"
  (click)="handleSelect(file())"
  (keydown.enter)="handleSelect(file())"
  (keydown.space)="handleSelect(file())"
  tabindex="0"
  
  role="button"
  >
    
    <nz-icon nzType="diff" nzTheme="outline" /> 
    @if(isBeingEdited()) {
      <input 
        class="m-0 bg-transparent border border-gray-400 text-white px-1"
        [(ngModel)]="newFileName"
        (keyup.enter) = "handleEditFileName(file(), newFileName)"
      />
    }
    @else {
      <p class="m-0">{{ file().fileName }}</p>
    }
  </div>
  <div class="flex flex-row items-stretch gap-0">
    <!-- Lowk don't know why event.stopPropagation helps the emitter-->
    @if(isBeingEdited()){
      <button type="submit" class="card-buttons bg-[#1890FF] hover:bg-[#60A5FA]" (click) = "handleEditFileName(file(), newFileName)">
        <nz-icon nzType="check" nzTheme="outline" />
      </button>

      <button type="button" class="card-buttons bg-[#7F1D1D] hover:bg-[#991B1B]" (click) = "handleEditCancel()">
        <nz-icon nzType="close" nzTheme="outline" />
      </button>
    }
    @else{
    <button (click)="handleEditStatus(); $event.stopPropagation()" class="card-buttons">
      <nz-icon nzType="edit" nzTheme="fill" />
    </button>
    <button (click)="handleDelete(); $event.stopPropagation()" class="card-buttons">
      <nz-icon nzType="delete" nzTheme="fill" />
    </button>
  }


  </div>

</div>