<div class="flex flex-row mx-1 items-stretch gap-0">
  <div class="flex flex-row items-center gap-2 cursor-pointer flex-1 hover:bg-[#4a5a6e]" (click) = "handleSelect()">
    <nz-icon nzType="diff" nzTheme="outline" />
    <p class="m-0">{{file().fileName}}</p>
  </div>
  <div class="flex flex-row items-stretch gap-0">
    <div (click)="handleEdit()" class="cursor-pointer hover:bg-[#54667a] flex items-center justify-center px-1">
      <nz-icon nzType="edit" nzTheme="fill" />
    </div>
    <div (click)="handleDelete()" class="cursor-pointer hover:bg-[#54667a] flex items-center justify-center px-1">
      <nz-icon nzType="delete" nzTheme="fill" />
    </div>
  </div>

</div>